<!-- base layout of rep -->
<!-- this layout contains header and footer -->
@inherits LayoutComponentBase

<Header />
<main>
    <!-- page-specific content will be inserted here -->
    @Body
</main>
<Footer />
