<!-- footer of rep -->
<div class="sticky top-[100vh] flex flex-col items-center w-full m px-6 pt-12 pb-8 text-center space-x-4">
    <div class="flex items-center space-x-4">
        <span>@copyright</span>
        <span class="text-xs mt-1">@version</span>
        <span class="flex ml-4 pl-4 border-l border-main space-x-4">
            <IconLink href="@repositoryUrl" icon="code-bracket" targetBlank=true />
            <IconLink href="@contact" icon="envelope" />
        </span>
    </div>
</div>
