<!-- header of rep -->
<div class="flex justify-between w-full px-6 py-8">
    <ImageLink href="" img="images/logo.png" alt="logo for rep" />
    <div class="flex space-x-4">
        <NaviLinks />
    </div>
</div>